@charset utf-8;
html,body,div, span, applet,object,iframe,h1,h2,h3,h4,h5, h6,p,
blockquote,pre, a, abbr,acronym,address,big,cite,code,del,dfn, em, font ,img,ins, kbd,q,s, samp,small,strike, strong, 
sub, sup,tt,var ,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset, form, label, legend, table,caption, tbody,tfoot, thead,
tr,th,td {background:none repeat scroll transparent ; 
border : 0 none ; font-size : 100% ; outline : 0 none;vertical-align:baseline;margin:0;padding:0}table{border-collapse:collapse; border-spacing:0}
address,article,aside,canvas, details,figcaption, figure,footer,header,hgroup,nav,menu,nav,section, summary
{display :block }a,a:hover,button,button:hover,.anime, .small_btn,.btn:hover .small_btn{- moz-transition:all 200ms linear;-ms -transition:all 200ms linear;-o -transition:all 200ms linear;
 - webkit-transition:all 200ms linear;transition:all 200ms linear}button{cursor:pointer}*{-webkit -box-sizing:border-box;-moz -box-sizing:border-box;-ms -box-sizing:border-box; box-sizing:border-box}


.main_flex{display:flex;display:-webkit-flex;- webkit-flex-flow:row wrap;flex-flow:row wrap}.main_flex__nowrap{display:flex;display:-webkit-flex;
-webkit-flex-flow:row nowrap;
flex-flow:row nowrap}.flex__jcontent_between{justify-content:space-between;
webkit-justify-content:space-between}.flex__jcontent_start{justify-content:flex-start;-webkit-justify-content:flex-start}.flex__jcontent_end{justify-content:flex-end;-webkit-justify-content:flex-end}.flex__jcontent_center{justify-content:center;-webkit-justify-content:center}.flex__jcontent_around{justify-content:space-around;-webkit-justify-content:space-around}.flex__auto{flex:auto;-webkit-flex:auto;-ms-flex:auto}.flex__align-items_start{align-items:flex-start;-webkit-align-items:flex-start}.flex__align-items_end{align-items:flex-end;-webkit-align-items:flex-end}.flex__align-items_baseline{align-items:baseline;-webkit-align-items:baseline}.flex__align-items_stretch{align-items:stretch;-webkit-align-items:stretch}.flex__align-items_center{align-items:center;-webkit-align-items:center}.flex__align-content_flex-start{align-content:flex-start;-webkit-align-content:flex-start}.flex__align-content_flex-end{align-content:flex-end;-webkit-align-content:flex-end}.flex__align-content_space-between{align-content:space-between;-webkit-align-content:space-between}.flex__align-content_center{align-content:center;-webkit-align-content:center}.flex__align-content_space-around{align-content:space-around;-webkit-align-content:space-around}.flex__align-content_stretch{align-content:stretch;-webkit-align-content:stretch}.flex__flex-grow_01{flex-grow:1;-webkit-flex-grow:1}.flex__flex-grow_02{flex-grow:2;-webkit-flex-grow:2}.flex__flex-grow_03{flex-grow:3;-webkit-flex-grow:3}.flex__flex-grow_04{flex-grow:4;-webkit-flex-grow:4}.w5{width:5%;max-width:5%}.w10{width:10%;max-width:10%}.w15{width:15%;max-width:15%}.w20{width:20%;max-width:20%}.w25{width:25%;max-width:25%}.w30{width:30%;max-width:30%}.w35{width:35%;max-width:35%}.w40{width:40%;max-width:40%}.w45{width:45%;max-width:45%}.w50{width:50%;max-width:50%}.w55{width:55%;max-width:55%}.w60{width:30%;max-width:60%}.w65{width:65%;max-width:65%}.w70{width:70%;max-width:70%}.w75{width:75%;max-width:75%}.w80{width:80%;max-width:80%}.w85{width:85%;max-width:85%}.w90{width:90%;max-width:90%}.w95{width:95%;max-width:95%}.w100{width:100%;max-width:100%}.main_flex__nowrap_reverse {display:flex;display:-webkit-flex;-webkit-flex-flow:row-reverse nowrap;flex-flow:row-reverse nowrap}

body{
	background-color: #eaeaea;
	font-family: sans-serif, Arial;
	font-size: 1.14vmax;
	line-height: 1.33vmax;
	padding: 0;
	margin: 0;
}

.wrap{
	width: 81.66vw;
	margin: 0 auto;
	position: relative;
}
.dark {
	background-color: #2e2e30;
	color : #fff;
}
.gray{
	background-color: #838d8f;
	color : #fff;
}
#top {
	width: 100%;
	height: 9.16vmax;

}
#top .wrap,
#menu .wrap{
	height: inherit;
}
div .btn {
	overflow: hidden;
	height: 2.56vmax;
	border-radius: 0.33vw;
	padding: 0.66vw 1.32vw;
	cursor: pointer;
}
#sing{
	border: 1px solid #ededed;
	color : #fff;
	font-size: 0.83vmax;
	margin-top: 3.33vmax;
}
#sing svg{
	width: 1.33vmax;
	height: 1.33vmax;
	fill: #7e7e7e;
	margin-right: 1.83vmax;
}
#sing::hover{
	background-color: #ededed;
	color : #2e2e30;
}

#location {
	font-family: 'PT Serif';
	margin-top: 4vmax;
	margin-left: 5.25vmax;
	color: #aaaaaa;
}
#location span,
#currency span{
	color : #fff;
	cursor: pointer;
	margin-left: 1.66vmax;
	font-size: 0.83vmax;
}
#logo, #logo  a{
	margin-top: 1.5vmax;
	display: block;
	height: 3.33vmax;
	width: 11.33vmax;
	text-decoration: none;
}
#logo svg{
	width: inherit;
	height: inherit;
	margin-right: 10vmax;
	margin-left: 10vmax;
}
#currency{
	font-family: 'PT Serif';
	margin-top: 4vmax;
	margin-left: 16.08vmax;
	color: #aaaaaa;
	margin-right: 6.33vmax
}
#cart svg{
	width: 1.25vmax;
	height: 1.16vmax;
	fill: #7e7e7e;
	margin-right: 1.53vmax;
	fill: rgb(134, 206, 142);
}
#cart {
	border: 1px solid #8ad592;
	margin-top: 3.33vmax;
	font-size: 0.83vmax;
	color : #8ad592;

}
#cart :hover{
	background-color: #8ad592;
	color : #fff;
}
#cart :hover svg{
	fill: #fff;
}
#menu {
	background-color: #fff;
	width: 100%;
	height: 4.16vmax;
}
nav li {
	list-style: none;

}
nav a {
	text-decoration: none;
}
#main_nav,
#main_nav li,
#main_nav a{
	display: flex;
	flex-flow: row nowrap;
	height: inherit;
	align-items: center;
	justify-content: center;
}
#main_nav a{
	padding: 0 1.5vmax;
	color : #3c3d41;
	text-transform: uppercase;
	font-weight: bold;
}

#main_nav li:hover{
	background-color: #eaeaea;
	color : #eee;
}
#search_button svg {
	width: 1.5vmax;
	height: 1.5vmax;
}
#search_button{
	position: absolute;
	cursor: pointer;
	right: 0;
	top: calc(50% - 0.75vmax);
}
#banner img{
	padding-top: 4.16vmax;
	width: 100%;

}
#banner{
	overflow: hidden;
	height: 20.82vmax;
	width: 100%;
}
.main{
	padding-top: 4.16vmax;
	padding-bottom: 6.66vmax;

}
#left_bar{
	width: 19.16vw;
	padding-top: 2vmax;

}
#right_bar{
	width: 60.83vw;
	padding-top: 2vmax;

}
#load_more {
	border: none;
	width: 100%;
	border-radius: 0.33vw;
	color : #fff;
	background-color: #b8c6c7;
	font-size: 1.25vmax;
	padding-top: 1.08vmax;
	padding-bottom: 1.08vmax;
	margin-bottom: 1.66vmax;
	margin-top: 1.66vmax;
}
#load_more:hover{
	transform: scale(0.95);
}
.box{
	border-radius: 0.33vw;
	background-color: #fff;
}
.product {
	flex-flow: nowrap column;
	text-decoration: none;
	padding-bottom: 1.66vmax 1.66vw;
	width: 19.16vw;
	height: 25vmax;
	margin-bottom: 1.66vmax;
	margin-right: 1.66vw;
	position: relative;

}
.product:nth-of-type(3n){
	margin-right: 0;
}
.product p{
	text-align: center;

}
.img_product{
	width: 100%;
	height: 13.33vmax;
	overflow: hidden;
	text-align: center;
	margin-bottom: 2.08vmax;
}
.img_product img{
	height: 100%;
	width: auto;
}
.product:hover {
	transform: scale(1.05);
}
.product h2{
	font-size: 1.25vmax;
	line-height: 1.5vmax;
	text-align: center;
	color : #3a3d3f;
	margin-bottom: 0.83vmax;
	font-weight: bold;

}
.product p:first-of-type {
	text-align: center;
	font-style: italic;
	color : #838c8e;
	font-size: 1vmax;

}
.price {
	color : #3a3d3f;
	font-size: 1.8vmax;
	font-weight: bold;
	margin-top: 0.83vmax;
}
.tag {
	background-color: #84ce8b;
	color : #fff;
	padding: 0.41vmax;
	font-size: 0.83vmax;
	text-transform: uppercase;
	right: 1.16vmax;
	position: absolute;
	z-index: 1;
	border-radius: 0.33vw;
	font-weight: bold;
	top: 1.16vmax;
	letter-spacing: 0.2vw;
}

a{
	text-decoration: none;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 0.83vmax;
}
ul {
	padding: 0;
	margin: 0 auto;
	list-style: none;
}
.list_box li .menu__box li a{
	border-radius: 0;

}
.menu__list::after{
	content: " ";
	position: absolute;
	border: 5px solid;
	border-color: transparent transparent transparent #eee;
	top: 1.2vmax;
	right: 0.7px;
	transition: 0.5s;

}
.menu__box a{
	color: #c4c9ca;
	padding: 0;
	text-decoration: none;
	display: block;
}
/*
.menu__list{
	background-color: #fff;
	color: #3c3d41;
	border: none;
	cursor: pointer;
	padding: 20px;
	margin-top: 20px;
}

.menu__list:hover{
	background-color: #fff;
}
.list_box{
	position: relative;
	display: inline-block;
}
.menu__box{
	display: none;
	background-color: #838d8f;
	width: 100%;
}
.menu_box a{
	padding: 20px;
	color : #daddde;
	text-decoration: none;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
}
.list_box:hover .menu__box{
	display: block;
}
*/
.menu__box a{
	color: #c4c9ca;
	padding: 0;
	text-decoration: none;
	display: block;
}
.list_box{
	width: 100%;

}
ul{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.list_box a,
.title_filter{
	background-color: #fff;
	color : #3b3d40;
	padding: 0.83vmax;
	display: block;
	border-bottom: 1px solid #eee;
	transition: 0.5s all;
	cursor: pointer;
	border-radius: 0.33vmax;
	
}
.title_filter{
	font-size: 0.83vmax;
	font-weight: bold;
	border-bottom: 0;
	margin-top: 1.83vmax;
}
.list_box a:hover{
	background-color: #bbb4b4;
	padding: 0.83vmax 0 0.83vmax 1.66vmax;
}
.list_box li:first-child a,
.list_box li .menu__box li:first-child a{
	border-radius: 0.33vmax 0.33vmax 0 0;
	/*border-bottom: 0;*/
}
.list_box li .menu__box li a{
	border-radius: 0;

}
.menu__list::after{
	content: " ";
	position: absolute;
	border: 5px solid;
	border-color: transparent transparent transparent #eee;
	top: 1.2vmax;
	right: 0.7px;
	transition: 0.5s;

}
.menu__list:hover::after{
	transform: scaleX(-1);
}

.menu__list{
	position: relative;
}
.menu__box{
	background-color: #838d8f;
	color: #c4c9ca;
	position: absolute;
	bottom: 100%;
	top: -9999em;
	border-top: 1px solid 0;
	opacity: 0;
	right: 100%;
	transition: 0.5s opacity;
}
.menu__list:hover .menu__box{
	opacity: 1;
	top: 0;
}
.list_box{
	border-radius: 0.33vmax;
}
.menu__box a{
	color: #c4c9ca;
	padding: 0;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.83vmax;
}
.list_box:hover.menu__box{
	display: block;
}
.list_filter label{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 2.66vmax;
	height: 2.66vmax;
	border-radius: 2.66vmax;
	background-color: #eee;
	font-size: 0.91vmax;
	font-weight: bolder;
	color : #3c3d41;
}

.list_filter li:nth-of-type(5n) {
	margin-right: 0;
}
.list_filter li{
	list-style: none;
	margin-right: 0.66vmax;
	margin-bottom: 0.83vmax;
	cursor: pointer;
}
.list_filter input[type="checkbox"]{
	display: none;
}
.list_filter {
	padding: 1.6vmax;
}
.title_filter{
	border-bottom: 1px solid #eaeaea;
	color: #3b3d40;
}
.color_list input[type=checkbox]:checked + label {
	box-shadow: 0 0 5px 2px #c3baba;
	
}
 input[type=checkbox]:checked + label {
 	background-color: #838d8f;
 	color: #fff;
 }